{% extends "base.html" %}

{% block content %}

				<!-- Article 2 start -->
                
                <article id="article2">
                    <h2>About Isabella</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
    
                        <p>Isabella is a simple website to showcase boutique designers to the internet audience.  We take extreme pride in finding the best small designers and providing out customers with the best prices possible.</p>
                       
                        
                    </div>
                </article>
                
				<!-- Article 2 end -->
            
{% endblock %}