<!DOCTYPE html> <!-- The new doctype -->
<html>
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>Isabella</title>
        
		<style type="text/css">{% include "css/styles.css" %}</style>
        <script type="text/javascript">{% include "js/script.js" %}</script>


        <!-- Internet Explorer HTML5 enabling code: -->
        
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        
        <style type="text/css">
        .clear {
          zoom: 1;
          display: block;
        }
        </style>

        
        <![endif]-->
        
    </head>
    
    <body>
    
{% block header %}

    	
    	<section id="page"> <!-- Defining the #page section with the section tag -->
    
            <header> <!-- Defining the header section of the page with the appropriate tag -->
            
                <hgroup>
                    <h1><a href="/home">Isabella</a></h1>
                    <h3>One day, one deal.</h3>
                </hgroup>
                                
                <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                  </nav>
      
            </header>
            
{% endblock %}


  <section id="articles"> <!-- A new section with the articles -->
  
   <!-- Alert start --
                
                <article id="article2">
                    <h2>Alert</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                        
                        <p>We noticed you entered some data incorrectly.  Please change [BIll to indicate proper variable].</p>
                        
                    </div>
                </article>
                
				<!-- Alert end -->


{% block content %}



            
{% endblock %}                
                <article id="article3">
                    <h2>Daily Sale</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	
                        
                        
                        <strong>Email Sign Up</strong><br /><br />
                                               
                        
            <form action="/addtoemaillist.do" method="post" autocomplete="on">			
			<p>	
			
			My name is <input name="yourname" value="&nbsp;Enter Name" type="text" size="30" onClick="this.value=''" /> and my email address is 
			<input name="youremail" value="&nbsp;Enter Email Address" type="text" size="30" onClick="this.value=''" />.<br /><br />  Please send me a daily email with the deal of the day.<br /><br />
			
			<input class="button" type="submit" value="Submit"/>
			</p>		
			</form>	
                        
                    </div>
                </article>
                
				<!-- Article 3 end -->


            </section>

        <footer> <!-- Marking the footer section -->

           <div class="line"></div>
           
           <p>Copyright 2010 - Isabella's Room</p> <!-- Change the copyright notice -->
           
        </footer>
            
		</section> <!-- Closing the #page section -->
        
        <!-- Google Checkout Cart Code -->
        
        <script  id='googlecart-script' type='text/javascript' src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid=624071284816505' integration='jscart-wizard' post-cart-to-sandbox='false' currency='USD' productWeightUnits='LB'></script>
        
        
        <!-- JavaScript Includes -->
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script src="jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
