{% extends "base.html" %}

{% block content %}

				<!-- Article 2 start -->
                
                <article id="article2">
                    <h2>Contact</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
    
                        <p>We'd love to hear from you!</p>
                        
             <form action="/contactsubmission.do" method="post">			
			<p>	
			
			Name:<br /><input name="yourname" value="Enter Name" type="text" size="30" onClick="this.value=''" /><br /><br /> 
            Email address:<br /><input name="youremail" value="Enter Email Address" type="text" size="30" onClick="this.value=''" /><br /><br />  
            Your Message:<br /><textarea name="yourmessage" rows="8" cols="40">
Enter Message
</textarea><br /><br />
			
			<input class="button" type="submit" value="Submit"/>
			</p>		
			</form>	
                       
                        
                    </div>
                </article>
                
				<!-- Article 2 end -->
            
{% endblock %}