{% extends "base.html" %}

{% block content %}

            
            <section id="articles"> <!-- A new section with the articles -->					

				<!-- Article 2 start -->

                <div class="line"></div>
                
                <article id="article2">
                    <h2>Devastating...</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                        
                        <strong>Why?</strong><br /><br />
                        <p>We're embarassed...please forgive us.  You landed on this page becuase there was an error.  Several humans have been notified of this mechanized error and will soon be combing through the website to figure out what went wrong.  We're sorry for the trouble, check back soon.</p>
                        
                    </div>
                </article>
                
				<!-- Article 2 end -->

            </section>
            
{% endblock %}