{% extends "base.html" %}

{% block content %}

            
            <section id="articles"> <!-- A new section with the articles -->

				<!-- Article 1 start -->

                <div class="line"></div>  <!-- Dividing line -->
                
                <article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
                    <h2>Today - Shot Cotton Scarves - $14.00 each</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    
                    	<figure> <!-- The figure tag marks data (usually an image) that is part of the article -->
	                    	<a href="http://www.spoolsewing.com/"><img src="/static/images/shot-scarves.jpeg" width="620" height="340" /></a>
                        </figure>
                        <strong>Product</strong><br /><br />
                        <p> We got a recent shipment of Kaffe Fassett&lsquo;s Shot Cotton, and the deep hues made me think autumn. Shot cotton is special because the warp and weft yarns are 2 different colors woven together to create a special depth, a &lsquo;shot&lsquo; of color. When the edge of this fabric ravels, you can see a bright contrast to the body of the fabric.</p>
                        
                        <strong>About the Creator</strong><br /><br />

                        <p>Spool is brought to you by our love of fabric and sewing. We like to use bright cotton fabrics for blankets, quilts, skirts, aprons, tote bags, kids clothes - just about anything we can think of! </p>
                    </div>
                    
                    <strong>Retail Price</strong><br /><br />
                        <p>$40</p>
                </article>
                
				<!-- Article 1 end -->


				<!-- Article 2 start -->

                <div class="line"></div>
                
                <article id="article2">
                    <h2>Yesterday - Set of 3 Vermeil Bangles - $89.00</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
	                    	<a href="http://margaretelizabeth.com/asccustompages/products.asp?fav=0&fpage=1&categoryID=5&productID=76&cartID=184744704"><img src="/static/images/bengal.jpeg" width="600" height="500" /></a>
                        </figure>
                        <strong>Product</strong><br /><br />
                        <p>Set of 3 Vermeil gold bangles. Mixed together are Chrysopase (green stone), Turquoise, & Carnelian (orange stone). These bangles add a fun pop of color to any outfit.   Handmade in India. </p>
                        <strong>About the Creator</strong><br /><br />
                        <p>Margaret Elizabeth Designs began in 2004 as Meg Galligan sat in her dorm room at Boston College creating necklaces and earrings for herself, friends, and family. Before she knew it her fun hobby turned into an exciting business, and she began hosting trunk shows and selling her jewelry to boutiques in the Boston area. Through the years, Meg's creative endeavor has evolved, bringing her pieces to clients all over the world. </p>
                        <strong>Retail Price</strong><br /><br />
                        <p>$165</p>
                    </div>
                </article>
                
				<!-- Article 2 end -->

				<!-- Article 3 start -->

                <div class="line"></div>
                
                <article id="article3">
                    <h2>Contact</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	
                        
            <form action="/newslettersubmit.do" method="post">			
                        
                        <strong>Daily Email Sign Up</strong><br /><br />
                                               
                        </form>
                        
            <form action="/newslettersubmit.do" method="post">			
			<p>	
			
			My name is <input name="yourname" value="Enter Name" type="text" size="30" onClick="this.value=''" /> and my email address is 
			<input name="youremail" value="Enter Email Address" type="text" size="30" onClick="this.value=''" />.<br /><br />  Please send me a daily email with the deal of the day.<br /><br />
			
			<input class="button" type="submit" value="Submit"/>
			</p>		
			</form>	
                        
                    </div>
                </article>
                
				<!-- Article 3 end -->


            </section>
            
{% endblock %}