{% extends "base.html" %}

{% block content %}

				<!-- Article 2 start -->

                
                <article id="article2">
                    <h2>Margaret Elizabeth - Set of 3 Vermeil Bangles</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	<figure>
	                    	<a href="http://margaretelizabeth.com/asccustompages/products.asp?fav=0&fpage=1&categoryID=5&productID=76&cartID=184744704"><img src="/static/images/bengal.jpeg" width="600" height="500" /></a>
                        </figure>
                        
                        <strong>Price: <del>$165</del>  |  Today Only: $110</strong>
                        <p><div class="product"><input type="hidden" class="product-title" value="Set of 3 Vermeil Bangles"><input type="hidden" class="product-price" value="110.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div></p>
                        
                        <strong>The Product</strong><br /><br />
                        <p>Set of 3 Vermeil gold bangles. Mixed together are Chrysopase (green stone), Turquoise, & Carnelian (orange stone). These bangles add a fun pop of color to any outfit.   Handmade in India. </p>
                        <strong>The Creator</strong><br /><br />
                        <p>Margaret Elizabeth is a premier San Francisco based jewelry designer.  Her designs are featured	 in boutiques throughout San Francisco, Boston and New York.</p>
                        
                    </div>
                </article>
                
				<!-- Article 2 end -->

				<!-- Article 3 start -->


            
{% endblock %}